.mountNode > div {
  border: 1px solid #ccc;
  margin: 5.5vw;
  padding: 1em;
}

.mountNode input {
  display: block;
  margin: 1rem 0;
}

.mountNode pre {
  background-color: white;
}

button {
  border: 1px solid #ccc;
  margin: 1vw 1.25vw;
  padding: 1em;
}
